@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin hamburger-menu {
  content: '';
  display: block;
  width: 20px;
  padding: 1px 0;
  background-color: $color-primary;
  position: relative;
  border-radius: 1px;
  transition: 0.5s ease-out;
  @content;
}

@mixin font-set ($font-family, $font-size, $font-weight, $color) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}

@mixin statistic-el($color) {
  content: "";
  width: 63px;
  height: 63px;
  border-radius: 50%;
  z-index: -1;
  position: relative;
  top: 60px;
  background-color: $color;
}

@mixin img-container($width, $height, $bg-color, $border-radius) {
  content: '';
  position: absolute;
  width: $width;
  height: $height;
  background-color: $bg-color;
  border-radius: $border-radius;
  @content
}

@mixin pricing-el($src) {
  content: url($src);
  width: 11px;
  height: 11px;
  margin: 5px;
}

@mixin limited-offer-el {
  content: "Limited offer";
  display: block;
  font-size: 0.75rem;
  font-family: $font-raleway;
  font-weight: bold;
  color: black;
}