.footer {
  width: 100%;
  box-shadow: 0px -5px 40px #00000029;

  .container {
    padding: 1.5rem;
    max-width: 1324px;
    margin: 0 auto;

  }
  .footer-flex {
    @extend %flex-align-center;
    justify-content: space-between;

    .footer-logo {
      a {
        @include font-set($font-raleway, 1.6rem, lighter, $color-primary);
      }

      p {
        @include font-set($font-openSans, 0.8rem, normal, #A5A5A5);
      }
    }

    .footer-social-media {
      display: flex;
      gap: 1.2rem
    }

  }
}