.header {
  height: 4.3rem;
  width: 100%;
  min-width: 16rem;
  background-color: $color-white;
  position: relative;
  z-index: 10;

  @include tablet {
    box-shadow: 0 3px 6px #00000029;
  }

  .header-container {
    @extend %flex-align-center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0 1.6rem;
    box-shadow: 0 3px 6px #00000029;
    position: relative;

    @include tablet {
      box-shadow: none;
    }

    @include desktop {
      max-width: 1352px;
      margin: 0 auto;
      box-shadow: none;
    }

    .header-logo {
      @include font-set($font-raleway, 2rem, lighter, $color-primary);
    }

  }

}

.header-menu {
  //display: none;
  @include font-set($font-openSans, 0.7rem, bold, $color-grey);
  position: absolute;
  top: 4.3rem;
  left: 0;
  width: 100%;
  opacity: 0;
  padding: 0 1rem;
  background-color: $color-white;
  box-shadow: 0 3px 6px #00000029;
  transition: padding-bottom 0.5s;
  z-index: -1;

  @include tablet {
    @extend %flex-align-center;
    opacity: 1;
    position: static;
    width: auto;
    height: 100%;
    z-index: 0;
    box-shadow: none;
  }

  ul {
    @include tablet {
      @extend %flex-align-center;
      height: 100%;
    }

    .menu-item {
      padding: 0.75rem 1.25rem;
      transition: border-bottom 0.3s ease-out;

      @include tablet {
        height: 100%;
        padding: 0 1.25rem;
        display: flex;
      }

      &:hover {
        border-bottom: 2px solid $color-primary;
      }

      a {
        @extend %flex-align-center;
        color: $color-grey;
        height: 100%;
        transition: color 0.3s ease-out;


        &:hover {
          color: $color-black;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header-menu-btn:checked ~ .header-menu {
    display: block;
    padding: 1.5rem 1rem;
    opacity: 1;
  }

}

.header-menu-btn {
  opacity: 0;
  position: absolute;
  top: 1.7rem;
  right: 1.7rem;
  @include tablet {
    display: none;
  }
}

.header-menu-icon {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  @include tablet {
    display: none;
  }

  .navicon {
    @extend %flex-align-center;
    flex-direction: column;
    justify-content: center;
    width: 20px;
    height: 2px;
    background-color: $color-primary;
    border-radius: 1px;
    transition: 0.5s ease-out;

    &::before {
      @include hamburger-menu(bottom)
    }

    &::after {
      @include hamburger-menu(top)
    }
  }
}

.header-menu-btn:checked ~ .header-menu-icon > .navicon {
  transform: rotate(45deg);
}

.header-menu-btn:checked ~ .header-menu-icon > .navicon:after {
  transform: rotate(-90deg);
  top: 0;
}

.header-menu-btn:checked ~ .header-menu-icon > .navicon:before {
  display: none;
}

