@import "../settings/mixins";

.opening {
  @extend %flex-align-center;
  flex-direction: column;
  margin-top: 6.25rem;
  padding: 0 2rem;
  overflow: hidden;

  .opening-header{
    @include font-set($font-raleway, 2.2rem, lighter, black);
    margin-bottom: 20px;
  }

  .opening-p {
    @include font-set($font-openSans, 1rem, normal, black);
    text-align: center;
    margin-bottom: 2rem;
    padding: 0 4.5rem;
  }

  .opening-btn {
    @include font-set($font-openSans, 1rem, bold, $color-white);
    width: 100%;
    padding: 1.3rem 0;
    background-color: $color-primary;
    border: none;
    border-radius: 40px;
    text-align: center;

    &:hover {
      box-shadow: 5px 10px 14px $color-primary-shadow;
      cursor: pointer;

    }

    @include tablet {
      max-width: 27.5rem;
    }
  }

  .opening-bg {
    width: 250%;
    margin-top: 4rem;

    @include tablet {
      width: 100%;
    }
  }
}