.pricing {
  @extend %flex-align-center;
  flex-direction: column;
  padding: 3rem;

  .pricing-main-title {
    @include font-set($font-raleway, 2.25rem, normal, black);
    padding: 1rem;

    @include desktop {
      margin-bottom: 1rem;
    }
  }

  .pricing-boxes-container {
    @extend %flex-align-center;
    max-width: 25rem;
    flex-direction: column;
    gap: 3.4rem;

    @include desktop {
      flex-direction: row;
      justify-content: center;
      gap: 2.5rem
    }
  }

  .pricing-box {
    display: flex;
    position: relative;
    min-width: 20rem;
    padding: 1rem 1rem 2.5rem 1rem;
    border: 1px solid black;
    border-radius: 18px;

    @include desktop {
      flex-direction: column;
      align-items: center;
      padding: 2rem 2rem 3rem 2rem;
    }

    .pricing-price-container{
      @extend %flex-column;
      flex: 1;
      justify-content: center;
      align-items: center;
      padding: 0.6rem;

      @include desktop {
        padding-bottom: 2rem;
      }

      .pricing-title {
        @include font-set($font-raleway, 1.25rem, bold, black);
        padding: 0.5rem;
      }

      .pricing-price {
        font-family: $font-openSans;
        font-size: 2.87rem;
        font-weight: lighter;
      }
    }

    .pricing-p-container {
      flex: 1;

      .pricing-p {
        @include font-set($font-openSans, 0.87rem, normal, black);
        padding: 0.6rem ;
        white-space: nowrap;

        &:before {
          @include pricing-el("../../assets/Ckechmark-1.svg");
        }

      }

      .logo-close::before {
        @include pricing-el("../../assets/Close.svg");
      }

    }

    .pricing-btn {
      @include font-set($font-openSans, 0.8rem, bold, $color-white);
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translate(50%, 50%);
      padding: 1rem 3.5rem;
      background-color: black;
      border-radius: 23px;
      transition: font-size 0.5s ease-out;

      &:hover {
        cursor: pointer;
        font-size: 0.9rem;
      }
    }
  }

  .pricing-basic {
    border-color: $color-reddish;

    .pricing-price {
      color: $color-reddish;
    }

    .pricing-btn {
      background-color: $color-reddish;
    }

  }

  .pricing-professional {
    border-color: $color-primary;
    box-shadow: 5px 10px 27px $color-primary-shadow;
    padding: 2.5rem 2rem 3.5rem 2rem;

    @include desktop {
      padding: 2.5rem 2rem 3rem 2rem;
    }


    .pricing-price {
      color: $color-primary;
      &::after {
        @include limited-offer-el;
      }
    }

    .pricing-btn {
      background-color: $color-primary;
      box-shadow: 5px 10px 27px $color-primary-shadow;

    }

  }

  .pricing-premium {
    border-color: $color-green;

    .pricing-price {
      color: $color-green;
      &::after {
        @include limited-offer-el;
      }
    }

    .pricing-btn {
      background-color: $color-green;
    }

  }
}