.statistics {
  @extend %flex-align-center;
  flex-direction: column;
  padding: 4rem 2.5rem 0 2.5rem;

  @include tablet {
    max-width: 800px;
    margin: 0 auto;
  }

  .statistic-slogan {
    @include font-set($font-raleway, 1.9rem, normal, black);
    text-align: center;
    padding: 0 2rem;
  }

  .statistics-infos {
    @extend %flex-align-center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 120px;

    @include tablet {
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
    }

    .statistic-info {
      @extend %flex-align-center;
      flex-direction: column;
      width: 10rem;

      &:first-child::before {
        @include statistic-el($color-reddish);
      }

      &:nth-child(2)::before {
        @include statistic-el($color-primary);
      }

      &:last-child::before {
        @include statistic-el($color-green);
      }

      .statistic-icon {
        height: 52px;
        width: 52px;
        margin: 0 35px;
        align-self: flex-end;

      }

      .statistic-num {
        @include font-set($font-raleway, 1.25rem, bolder, black);
        margin-top: 22px;
        letter-spacing: 6px;

      }

      .statistic-p {
        @include font-set($font-raleway, 1.1rem, normal, $color-grey);
        font-size: 17px;
        padding: 20px;
        text-align: center;
      }
    }
  }
}